{
	"AWSTemplateFormatVersion": "2010-09-09",
	"Description": "lab01 Simple S3 bucket",
	"Resources": {
		"S3Bucket": {
			"Type" : "AWS::S3::Bucket",
			"Properties": {
				"BucketName": "cf-workshop-$username"
			}
		}
	}
}